.root-banner {
  background: #b3e5fc;
  overflow: hidden;
  position: relative;
  @include use-theme(background, #b3e5fc, #01579b)
}

.root-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.55;
  @include use-theme(background, #fff, #000)
}
.inner-deco, .inner-deco .deco-wrap{
  width: 100%;
  position: absolute;
  display: block;
}
.inner-deco{
  height: 800px;
}
.inner-deco .deco-wrap{
  height: 500px;
  margin: 0;
}
.inner-deco .deco-wrap>div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cloud-deco {
  background-repeat: repeat-x;
  background-position: center 80px;
  position: absolute;
  opacity: .5;
  bottom: -320px;
  @include breakpoints-down('xs') {
    bottom: -580px;
    right: -4px;
  }
  @include use-theme(background-image, url('/images/starter/cloud_bottom_light.svg'), url('/images/starter/cloud_bottom_dark.svg'))
}
.banner-wrap {
  position: relative;
  display: block;
  .cloud-top,.cloud-top-cover{
    width: 100%;
    height: 240px;
    position: absolute;
    transform: scale(1.1);
    svg {
      fill: #ecffff;
      height: 100%;
      width: 100%;
      overflow: hidden;
      z-index: 1;
    }
  }
  .cloud-top {
    top: 70%;
    left: 20%;
    @include breakpoints-down('xs') {
      top: 76%;
    }
  }
  .cloud-top-cover {
    top: 68%;
    left: -28%;
    transform: rotateY(180deg);
    @include breakpoints-down('xs') {
      top: 78%;
    }
  }
}
.v-theme--dark {
  .banner-wrap {
    svg {
      fill:#393939
    }
  }
}
.slide {
  position: relative;
  @include breakpoints-up('sm') {
    height: 500px;
  }
  @include breakpoints-down('xs') {
    padding: spacing(15, 0, 5)
  }
}

.img {
  @include right(1%);
  max-width: 100%;
  img {
    width: 100%;
    z-index: 3;
  }
  @include breakpoints-up('sm') {
    // position: absolute;
    // top: 100px;
  }
  @include breakpoints-up('md') {
    @include right(10%);
    max-width: 100%;
  }
  @include breakpoints-down('xs') {
    margin: spacing(4, 0)
  }
}

.inner {
  display: flex;
  height: 100%;
  align-items: center;
  @include breakpoints-down('xs') {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.text {
  h4 {
    font-weight: 600;
    margin-bottom: $spacing2;
    z-index: 3;
  }
  h5 {
    @include palette-text-secondary
  }
  .v-btn {
    z-index: 3;
  }
}

.slide-nav {
  display: flex;
  .v-btn {
    text-transform: none;
    height: auto;
    padding: $spacing1;
    flex: 1;
    font-weight: $font-regular;
    z-index: 3;
    :deep(.v-btn__content) {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
    strong {
      text-transform: capitalize;
      font-size: 28px;
      display: block;
      font-weight: $font-bold;
    }
    &.active {
      color: $palette-primary-main
    }
  }
}

.divider {
  margin: spacing(0, 2)
}
