.card {
  padding: $spacing3;
  display: flex;
  &-pricing {
    justify-content: center;
    align-items: baseline;
    margin-bottom: $spacing2;
  }
  .use-text-paragraph {
    height: 100px;
    @media (max-width: 900px) {
      height: 150px;
    }
    @media (max-width: 600px) {
      height: 200px;
    }
  }
  &.testi-card  {
    align-items: start;
    flex-direction: column;
    justify-content:space-evenly;
  }
}
.name {
  display: flex;
  margin-top: $spacing1;
  align-items: center;
  span {
    display: inline-block;
    @include margin-left($spacing1)
  }
}

.avatar {
  width: 30px;
  height: 30px;
  img {
    width: 100%
  }
}
